#dev_console {
  position: absolute;
  width: 100%;
  height: 35%;
  min-height: 80px;
  max-height: 250px;
  color: #FFFFFF;
  background-color: #070707;
  font-family: "Courier New";
  font-size: 14px;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#dev_console .console_wrapper {
  height: 100%;
}

#dev_console .output_text_wrapper {
  position: relative;
  height: 100%;
}

#dev_console .output_text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 100%;
  word-break: break-all;
  overflow-y: auto;
}

#dev_console .output_text_warning {
  color: yellow;
}

#dev_console .output_text_error {
  color: red;
}

#dev_console .output_text_match {
  color: blue;
}

#dev_console .output_text_comment {
  color: green;
}

#dev_console .input_wrapper {
  position: relative;
  display: table;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  color: #FEFEFE;
  background-color: #141414;
}

#dev_console .input_cursor {
  display: table-cell;
  padding-left: 5px;
  padding-right: 3px;
  width: 1px;
  font-family: "Courier New";
  font-size: 14px;
}

#dev_console .input_text_area {
  display: table-cell;
  padding-right: 10px;
}

#dev_console .input_text {
  position: relative;
  border: 0px;
  outline-width: 0;
  width: 100%;
  color: #FEFEFE;
  background-color: #141414;
  font-family: "Courier New";
  font-size: 14px;
}

.garbage {
  background-color: yellow;
  position: relative;
  max-width: 500px;
  word-wrap: break-word;
}